.navbar {
  @apply bg-white h-16 flex justify-between items-center text-xl;
}

.navbar-logo {

  color: #333;
  @apply justify-self-start ml-5 cursor-pointer text-3xl ;
 
}

.fa-firstdraft {
  @apply ml-2 text-2xl;
}

.nav-menu {
  @apply grid grid-cols-3 gap-2 text-center justify-center mr-8 ; 
  width: 40vw;
}

.nav-item {
  @apply flex items-center h-20;
}

.nav-links {
  color: #333;
  text-decoration: none;
  padding: 0.5rem 1rem;
}

.nav-links:hover {
color:rgba(79,70,229,1);
}

.fa-bars {
  color: #333;
}

.nav-links-mobile {
  display: none;
}

.menu-icon {
  display: none;
}

@media screen and (max-width: 960px) {
  .NavbarItems {
    position: relative;
  }

  .nav-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 90vh;
    position: absolute;
    top: 80px;
    left: -100%;
    opacity: 1;
    transition: all 0.5s ease;
  }

  .nav-menu.active {
    background: #242222;
    left: 0;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;
  }

  .nav-links {
    text-align: center;
    padding: 2rem;
    width: 100%;
    display: table;
    color:#fff;
  }


  .navbar-logo {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(25%, 50%);
  }

  .menu-icon {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-100%, 60%);
    font-size: 1.8rem;
    cursor: pointer;
  }

  .fa-times {
    color: #333;
    font-size: 2rem;
  }

  .nav-links-mobile {
    display: block;
    text-align: center;
    padding: 0.5rem;
    margin: 1rem auto;
    border-radius: 4px;
    width: 40%;
    background: rgba(79,70,229,1);;
    text-decoration: none;
    color: #fff;
    font-size: 1rem;
  }

  .nav-links-mobile:hover {
    background: #fff;
    color:rgba(79,70,229,.4);
    transition: 250ms;
  }

  button {
    display: none;
  }
}
